[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/radicle-contracts"]
	path = lib/radicle-contracts
	url = https://github.com/radicle-dev/radicle-contracts
[submodule "lib/ens"]
	path = lib/ens
	url = https://github.com/ensdomains/ens
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/dapphub/ds-token
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/dapphub/ds-math
[submodule "lib/ds-auth"]
	path = lib/ds-auth
	url = https://github.com/dapphub/ds-auth
[submodule "lib/configurable-rights-pool"]
	path = lib/configurable-rights-pool
	url = https://github.com/balancer-labs/configurable-rights-pool
